<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>679561394570-l1ijutbmaga4ksb4c5fjfhjo0mpfhlcu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.679561394570-l1ijutbmaga4ksb4c5fjfhjo0mpfhlcu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>679561394570-rgo6fllo4eo5qpthfu4vk8i7016a8ggq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAYEm-Sa7yAkLONxHxL_em-rIKG7L351-o</string>
	<key>GCM_SENDER_ID</key>
	<string>679561394570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rocesit.esencia0</string>
	<key>PROJECT_ID</key>
	<string>esencia0</string>
	<key>STORAGE_BUCKET</key>
	<string>esencia0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679561394570:ios:211a0a747eecb41b6fb073</string>
	<key>DATABASE_URL</key>
	<string>https://esencia0.firebaseio.com</string>
</dict>
</plist>